<!DOCTYPE html>
<html>
<head>
<title>Personal Home Assistant</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fas fa-home"> {{house_name}}</i>
  </a>
</nav>

<div class="container-fluid">
    {% for room in rooms %}
    <div class="card col-md-3">
      <div class="card-header">
        {{room.name}}
      </div>
      <div class="card-body">
        
        {% for relay in room.radiofrequencyrelay_set.all %}
        <p onclick='on(this, {{relay.id}})' style="cursor: pointer;" class="d-flex justify-content-between">
          {{relay.name}} <i class="far fa-lightbulb"></i>
        </p>
        {% endfor %}

      </div>
    </div>
    {% endfor %}
</div>


<!-- <button onclick='on()'>Ligar</button>
<button onclick='off()'>Desligar</button>
<br>
<br>
<br>
<button onclick='temp_humidity()'>Temperatura e Humidade</button> -->

<!-- <button onclick="get_audio()">gravar</button>             
<button onclick="stop_audio()">parar</button> -->

</body>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>

function on(element, id) {

      $.ajax({
        url: '{% url "on_off" %}',
        data: {'command': 'on', 'id': id},
        type: 'POST',
        dataType: 'json',
        success: function (message) {
          $(element).children("i").removeClass("far").addClass("fas")
          $(element).attr("onclick", `off(this, ${id});`)
          console.log(message)
        }
      });
}

function off(element, id) {

  $.ajax({
    url: '{% url "on_off" %}',
    data: {'command': 'off', 'id': id},
    type: 'POST',
    dataType: 'json',
    success: function (message) {
      $(element).children("i").removeClass("fas").addClass("far")
      $(element).attr("onclick", `on(this, ${id});`)
      console.log(message)
    }
  });
}

function temp_humidity() {

$.ajax({
  url: '{% url "temperature_humidity" %}',
  type: 'GET',
  success: function (message) {
    console.log(message)
  }
});
}


var mediaRecorder;

function get_audio() {
    navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.start();
        const audioChunks = [];

    mediaRecorder.addEventListener("dataavailable", event => {
    audioChunks.push(event.data);
                
    });

    mediaRecorder.addEventListener("stop", () => {
        const audioBlob = new Blob(audioChunks);
        const audioUrl = URL.createObjectURL(audioBlob);
        const audio = new Audio(audioUrl);
        audio.play();
        uploadAudio(audioBlob);
        });

    });
}

function stop_audio() {
  mediaRecorder.stop();
}

function uploadAudio( audio ) {
    var fd = new FormData();
    fd.append('filename', 'audio.wav');
    fd.append('file', audio);
    $.ajax({
        type: 'POST',
        url: "{% url 'audio' %}",
        data: fd,
        processData: false,
        contentType: false
    }).done(function(data) {
          console.log(data);
    });
}

</script>

</body>
</html>
