<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>{{house_name}}</h1>
<button onclick='on()'>Ligar</button>
<button onclick='off()'>Desligar</button>
<br>
<br>
<br>
<button onclick='temp_humidity()'>Temperatura e Humidade</button>

<button onclick="get_audio()">gravar</button>             
<button onclick="stop_audio()">parar</button>

</body>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>

function on() {

      $.ajax({
        url: '{% url "on_off" %}',
        data: {'command': 'on', 'id': 1},
        type: 'POST',
        dataType: 'json',
        success: function (message) {
          console.log(message)
        }
      });
}

function off() {

  $.ajax({
    url: '{% url "on_off" %}',
    data: {'command': 'off', 'id': 1},
    type: 'POST',
    dataType: 'json',
    success: function (message) {
      console.log(message)
    }
  });
}

function temp_humidity() {

$.ajax({
  url: '{% url "temperature_humidity" %}',
  type: 'GET',
  success: function (message) {
    console.log(message)
  }
});
}


var mediaRecorder;

function get_audio() {
    navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.start();
        const audioChunks = [];

    mediaRecorder.addEventListener("dataavailable", event => {
    audioChunks.push(event.data);
                
    });

    mediaRecorder.addEventListener("stop", () => {
        const audioBlob = new Blob(audioChunks);
        const audioUrl = URL.createObjectURL(audioBlob);
        const audio = new Audio(audioUrl);
        audio.play();
        uploadAudio(audioBlob);
        });

    });
}

function stop_audio() {
  mediaRecorder.stop();
}

function uploadAudio( audio ) {
    var fd = new FormData();
    fd.append('filename', 'audio.wav');
    fd.append('file', audio);
    $.ajax({
        type: 'POST',
        url: "{% url 'audio' %}",
        data: fd,
        processData: false,
        contentType: false
    }).done(function(data) {
          console.log(data);
    });
}

</script>

</body>
</html>
